.container {
    width: 1200px;
    margin: 0 auto;
}

.fl {
    float: left;
}

.fr {
    float: right;

}
.close-btn {
	color:#ccc;
	cursor: pointer;
}
.clearfix:after{
  content: " ";
  display: block;
  height: 0;
  line-height: 0;
  clear: both;
  zoom:1;
}
.today .link:hover {
  color:#f42222;
}
